[rf]
dl_freq = 2680000000
ul_freq = 2560000000
rx_gain = 10
tx_gain = 10

[pcap]
enable = true
filename = /tmp/ue.pcap

[trace]
enable = false
phy_filename = /tmp/ue.phy_trace
radio_filename = /tmp/ue.radio_trace

[log]
rlc_level = debug
pdcp_level = debug
rrc_level = debug
nas_level = debug
gw_level = debug
all_level = warning
all_hex_limit = 16
filename = /tmp/ue.log

[usim]
imsi = 001010123456789
imei = 353490069873319
k    = 00112233445566778899aabbccddeeff

[gui]
enable = true

[channel_emulator]
enable          = true

# This options control the interpolation factor and the number of stored coefficients
# nof_samples set for 5.76 Mhz sampling rate. Change accordingly. 
nof_coeffs      = 256
nof_samples     = 5760
nof_tti         = 10000   

### Choose one of the following channel models 

#### Vehicular A
#coeff_filename  = vehicular_A_3 # 3 or 30 km/h
#nof_paths       = 6
#path_tap        = 0
#path_tap        = 2
#path_tap        = 4
#path_tap        = 6
#path_tap        = 10
#path_tap        = 14

#### Pedestrian B
coeff_filename  = pedestrian_B_3 # 3 or 30 km/h
nof_paths       = 6
path_tap        = 0
path_tap        = 2
path_tap        = 5
path_tap        = 7
path_tap        = 13
path_tap        = 21

#### Pedestrian A 3 km/h
#coeff_filename  = pedestrian_A_3
#nof_paths       = 3
#path_tap        = 0 1 3 
#path_tap        = 0
#path_tap        = 1
#path_tap        = 3
